<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">DreamLander,Welcome !</h3>
  </div>



  <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="modal-body">
        <table>
          <tr>
            <th>
              <%= f.label :email %></th>
            <th><%= f.text_field :email %></th>
          </tr>
          <tr>
            <th>
              <%= f.label :password %></th>

            <th> <%= f.password_field :password %></th>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
        <button type="reset" class="btn  btn-warning">Reset</button>
      </div>

  <% end %>

</div>


